:root {
  --dark-grey: #080b12;
  --medium-dark-grey: #141922;
  --grey: #282828;
  --light-grey: #6d6d6d;
  --light-green: #adff2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  height: 100vh;
  background-color: var(--medium-dark-grey);
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.toolbar {
  height: 90px;
  background-color: var(--grey);
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

main {
  flex-grow: 1;
  overflow: auto;
}

header {
  padding: 1.25rem 1.25rem 7rem 1.25rem;
  background-color: #080b12;
  color: var(--light-grey);
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.upgrade {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  position: fixed;
  width: calc(100% - 80px);
}

.logo-lg {
  display: none;
}

.header__logo-box {
  width: 1.75rem;
  aspect-ratio: 1;
  margin-bottom: 1rem;
}

.nav-list__name {
  display: none;
}

.nav-list__icon {
  display: block;
}

.playlists {
  display: none;
}

.playlists__list {
  overflow: auto;
  width: 100%;
}

.hd-footer-list__name {
  display: none;
}

.playlists__title {
  color: white;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.playlists__add-playlist {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.playlists__add-playlist i {
  font-size: 2.25rem;
}

.playlist {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.recently-played__img-box,
.created-for-user__img-box,
.artist-most-popular__img-box {
  position: relative;
}

.recently-played__img-box::after,
.created-for-user__img-box:after,
.artist-most-popular__img-box::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
}

.recently-played__card:hover .recently-played__img-box::after,
.created-for-user__card:hover .created-for-user__img-box::after,
.artist-most-popular__card:hover .artist-most-popular__img-box::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.play-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem !important;
  display: none;
}

.recently-played__card:hover .play-icon,
.created-for-user__card:hover .play-icon,
.artist-most-popular__card:hover .play-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.75rem;
  color: white;
  z-index: 1;
}

.main-nav__list-box.active {
  color: white;
  position: relative;
}

.main-nav__list-box.active svg {
  fill: white;
}

.content__link.active {
  position: relative;
  color: white;
}

.main-nav__list-box.active::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: -0.75rem;
  width: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--light-green);
}

.content__link.active::before {
  position: absolute;
  content: "";
  display: block;
  bottom: -0.5rem;
  left: 25%;
  right: 25%;
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--light-green);
}

.main-nav__list-box:hover,
.playlists__add-playlist:hover,
.playlist:hover,
.playlists__add-playlist:hover i,
.main-nav__list-box:hover svg,
.app-installation__link-box:hover,
.content__link:hover {
  color: white;
  fill: white;
}

.main-nav__list svg {
  color: var(--light-grey);
  font-size: 1.75rem;
  width: 1.75rem;
  display: inline-block;
  fill: var(--light-grey);
}

.button {
  text-transform: uppercase;
  color: white;
  border-radius: 999px;
  padding: 0 2.5rem;
  margin: 1.5rem 1.25rem 1.5rem auto;
  line-height: 2.5rem;
  font-size: 0.85rem;
  display: inline-block;
  border: 1px solid currentColor;
  font-weight: 700;
}

.border-circle {
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
}

.border-circle-lg {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-color: black;
}

.app-installation-button {
  display: flex;
  align-items: center;
  gap: 0.85rem;

  padding-bottom: 0.85rem;
  margin-bottom: 0.85rem;
}

.user-button {
  display: flex;
  align-items: center;
  gap: 0.85rem;
}

.user-button i {
  font-size: 2.7rem;
  overflow: hidden;
  background-color: var(--light-grey);
  color: white;
}

.header__footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-items: center;
  padding-top: 1rem;
}

.header__footer li a {
  font-weight: 700;
}

.current-song {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding-left: 1.25rem;
  min-width: 190px;
  color: var(--light-grey);
}

.current-song__author {
  color: white;
}

.current-song__img-box {
  width: 2.5rem;
}

.current-song__info {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}

.current-song__favorite {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.current-song__favorite i:hover {
  color: white;
}

.current-song__title:hover {
  text-decoration: underline;
  color: white;
}

.song {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.song__actions {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 0 1rem;
}

.fa-circle-play {
  font-size: 1.95rem;
}

.duration {
  display: flex;
  font-size: 0.7rem;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-basis: 190px;
  flex-shrink: 0;
}

.toolbar i:not([class~="fa-circle-play"]) {
  width: 1rem;
  aspect-ratio: 1;
}

.progress-bar {
  background-color: #5a5a5a;
  border-radius: 0.5rem;
  border: none;
  width: 50%;
  height: 0.25rem;
}

.actual-progress {
  background-color: #c1c1c1;
  border-radius: 0.5rem;
  width: 25%;
  height: 0.25rem;
  position: relative;
}

.circle-to-drag {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0.5rem;
  background-color: white;
  border-radius: 50%;
  transform: translate(50%, -50%);
  display: none;
}

.duration:hover .actual-progress,
.volume:hover .actual-progress {
  background-color: var(--light-green);
}

.duration:hover .circle-to-drag,
.volume:hover .circle-to-drag {
  display: block;
}

.content:last-of-type {
  margin-bottom: 90px;
}

.volume {
  display: contents;
}

.content__navbar {
  padding: 7rem 1.8rem 1.25rem;
  text-transform: uppercase;
  color: var(--light-grey);
  font-size: 0.75rem;
  font-weight: 700;
}

.content__navbar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.recently-played,
.created-for-user,
.artist-most-popular {
  padding: 1.125rem;
  color: var(--light-grey);
}

.section-row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: calc(50% - 0.25rem);
  padding: 0.125rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section-title {
  margin-bottom: 1.75rem;
  color: white;
  font-size: 1.5rem;
}

.section-subtitle {
  margin-bottom: 1.75rem;
}

.recently-played__card-title,
.created-for-user__card-title,
.artist-most-popular__card-title {
  margin: 1rem 0 0.75rem;
  color: white;
  font-size: 1rem;
}

.recently-played__card-subtitle {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

.artist-most-popular__img-box {
  border-radius: 50%;
  overflow: hidden;
}

/* Media queries */
@media screen and (min-width: 550px) {
  header {
    width: 190px;
    align-items: flex-start;
  }

  .header__logo-box {
    height: 2.5rem;
    width: 9rem;
    margin-bottom: 2rem;
  }

  .logo-lg {
    display: block;
  }

  .logo-sm {
    display: none;
  }

  .nav-list__name {
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }

  .playlists {
    display: flex;
    flex-direction: column;
  }

  .main-nav__list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1rem;
  }

  .nav-list__link {
    display: flex;
    align-items: center;
  }

  .upgrade {
    width: calc(100% - 190px);
    z-index: 1;
  }

  .upgrade__button:hover {
    transform: scale(1.1);
  }

  .hd-footer-list__name {
    display: flex;
  }

  .app-installation-button {
    border-bottom: 1px solid var(--light-grey);
  }

  .current-song__favorite {
    flex-direction: row;
  }
}

@media screen and (min-width: 879px) {
  .recently-played__card {
    flex-basis: calc(25% - 0.25rem);
  }

  .card {
    max-width: calc(25% - 0.25rem);
  }
}

@media screen and (min-width: 1440px) {
  .card {
    flex-basis: calc((100% - 0.25rem) / 6);
  }
}
