:root {
  --dark-grey: #080b12;
  --medium-dark-grey: #141922;
  --grey: #282828;
  --light-grey: #6d6d6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: var(--medium-dark-grey);
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

aside {
  height: 90px;
  background-color: var(--grey);
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

main {
  flex-grow: 1;
  overflow: auto;
}

header {
  padding: 1.25rem 1.25rem 7rem 1.25rem;
  background-color: #080b12;
  color: var(--light-grey);
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upgrade {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  position: fixed;
  width: calc(100% - 80px);
}

.logo-lg {
  display: none;
}

.header__logo-box {
  width: 1.75rem;
  aspect-ratio: 1;
  margin-bottom: 1rem;
}

.nav-list__name {
  display: none;
}

.nav-list__icon {
  display: block;
}

.playlists {
  display: none;
}

.hd-footer-list__name {
  display: none;
}

.playlists__title {
  color: white;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.playlists__add-playlist {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.playlists__add-playlist i {
  font-size: 2.25rem;
}

.playlist {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.75rem;
}

.main-nav__list svg {
  color: var(--light-grey);
  font-size: 1.75rem;
  width: 1.75rem;
  display: inline-block;
  fill: var(--light-grey);
}

.button {
  text-transform: uppercase;
  color: white;
  border-radius: 999px;
  padding: 0 2.5rem;
  margin: 1.5rem 1.25rem 1.5rem auto;
  line-height: 2.5rem;
  font-size: 0.85rem;
  display: inline-block;
  border: 1px solid currentColor;
  font-weight: 700;
}

.border-circle {
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
}

.border-circle-lg {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-color: black;
}

.app-installation-button {
  display: flex;
  align-items: center;
  gap: 0.85rem;

  padding-bottom: 0.85rem;
  margin-bottom: 0.85rem;
}

.user-button {
  display: flex;
  align-items: center;
  gap: 0.85rem;
}

.user-button i {
  font-size: 2.7rem;
  overflow: hidden;
  background-color: var(--light-grey);
  color: white;
}

.header__footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-items: center;
}

.header__footer li a {
  font-weight: 700;
}

.current-song {
  display: flex;
}

.current-song__info {
  display: flex;
  flex-direction: column;
}

/* Media queries */
@media screen and (min-width: 550px) {
  header {
    width: 190px;
    align-items: flex-start;
  }

  .header__logo-box {
    height: 2.5rem;
    width: 9rem;
    margin-bottom: 2rem;
  }

  .logo-lg {
    display: block;
  }

  .logo-sm {
    display: none;
  }

  .nav-list__name {
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }

  .playlists {
    display: flex;
    flex-direction: column;
  }

  .main-nav__list {
    align-items: flex-start;
  }

  .nav-list__link {
    display: flex;
    align-items: center;
  }

  .upgrade {
    width: calc(100% - 190px);
  }

  .hd-footer-list__name {
    display: flex;
  }

  .app-installation-button {
  border-bottom: 1px solid var(--light-grey);
}

@media screen and (min-width: 879px) {
}

@media screen and (min-width: 1440px) {
}
